* {
    margin: 0;
    padding: 0;
}

.navbar-wrapper {
    max-width: 100%;
    padding: 20px 0px;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    width: 40px;
}
.navbar-logo img {
    width: 100%;
}
.navbar-menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.navbar-menu p:nth-last-child(1) {
    color: red;
}